.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 80px;
  padding: 0px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.header {
  display: block;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 40px 40px;
}

.main__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrap {
  width:875px;
  position: relative;
}

.code-run-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 135px;
  height: 46px;
  border-radius: 23px;
  border: solid 2px #ffffff;
  background: #272822;
  color: white;
}

.code-run-button:hover {
  background: white;
  color: black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.output {
  background:#272822;
  border-left: 5px solid #ddd;
  flex: 50%;
  color: white;
  padding: 20px;
  font-family: monospace;
}

.code_pad {
  border:15px solid #272822;
}