
@font-face {
  font-family: "MaaxTrial";
  src: url("./fonts/MaaxTrial-Regular.otf");
}
@font-face {
  font-family: "MaaxTrial";
  src: url("./fonts/MaaxTrial-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "MaaxTrial";
  src: url("./fonts/MaaxTrial-Italic.otf");
  font-style: italic;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App {
  text-align: left;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.App-header {
  margin: 0 auto;
  padding: 52px 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes snap-in {
  0% { transform: scale(1.05); opacity: 0 }
  50% { transform: scale(0.98); opacity: 1 }
  100% { transform: scale(1); opacity: 1 }
}


.header {
  display: block;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0px 36px;
  margin: 0 auto;
  display: flex;
    justify-content: space-between;
}

.course__title {
  font-family: MaaxTrial;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin: 0;
  padding-bottom: 6px;
}

.course__date {
  font-family: MaaxTrial;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin:0;
}

.main__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exercise__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 61px 0;
  border-top: 1px solid #eee;
}

.exercise__info > p {
  margin: 0;
}

.wrap {
  width: 855px;
  position: relative;
}

.inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-run-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 135px;
  height: 46px;
  border-radius: 23px;
  border: solid 2px #ffffff;
  background: #272822;
  color: white;
  font-family: MaaxTrial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.code-run-button:hover {
  background: white;
  color: black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.output {
  background:#272822;
  border-left: 5px solid #ddd;
  flex: 50%;
  color: white;
  padding: 20px;
  font-family: monospace;
}

.code_pad {
  border:15px solid #272822;
  box-sizing: border-box;
  border-radius: 4px;
}

.code-status {
  animation: snap-in 0.3s ease-in-out;
  padding: 20px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
}

.code-status span {
  font-weight: 900;
}

.code-status > img {
  padding-right: 10px;
}

.code-status.error {
  background: #ffb3b3;;
}

.code-status.success {
  background: #a7f2e8;
}

.popin {
  width:100%;
  padding-top: 20px;
  margin: 0 0 20px 0;
}

.tip {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #e2e8ee;
  font-size: 14px;
  line-height: 30px;
  color:#444;
  display:flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #333333;
}

.bold {
  font-weight: 900
}

.tip > img {
  padding: 0 20px
}

.exercise__title {
  font-family: MaaxTrial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

.lesson__wrap {
  display: flex;
}

.lesson__info {
  font-family: MaaxTrial;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #333333;
  display: flex;
    align-items: center;
}

.lesson__info > img {
  padding: 0 20px;
}

.break {
  border-right: 1px solid #ddd;
}

.instructor {
  width: 110px;
  height: 24px;
}

.mentor__block {
  display:flex;
  align-items: center;
}

.mentor__block > img{
  width: 34px;
  height: 34px;
  padding-right: 10px;
}

.mentor__block > p {
  font-family: MaaxTrial;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #333333;
}

.mentor__block span {
  font-weight:bold
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0 80px;
}

.footer__item {
  display:flex;
  align-items: center;
}

.footer__item--left {
  width: 138px;
  height: 19px;
  font-family: MaaxTrial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #757575;
}

.footer__item--left > img {
  padding: 0 10px 0 0;
}

.footer__item--right {
  font-family: MaaxTrial;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #333333;
}

.footer__item--right > img {
  padding: 0 0 0 10px;
}
